{% extends "blog/base.html" %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
    </div>
    <div class="details">
        <p>by: {{ post.author.username }}</p>

        {% if post.published_date.date == post.created_date.date %}
            <p>update: {{ post.published_date.time }} | created: {{ post.created_date.date }}</p>
        {% else %}
            <p>update: {{ post.published_date }} | created: {{ post.created_date }}</p>
        {% endif %}

    </div>
    <div class="post">
        <p>{{ post.text|truncatewords:10|linebreaks }}</p>
    </div>
{% endfor %}
{% endblock %}