.page-header h1 {
    background-color: #ff9400;
    color: white;
    font-size: 36pt;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}

.details {
    color: #828282;
    font-size: 9px;
    padding: 0;
}

h1 {
    color: black;
    font-family: 'Lobster', cursive;
}

.post h1 a {
    color: #FCA205;
    font-family: 'Lobster', cursive;
    font-size: 22px;
}

body {
    padding-left: 15px;
}